#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Apply styles to the ion-content */
ion-content {
  --background: url('https://png.pngtree.com/background/20230605/original/pngtree-dungeon-with-large-dragons-near-it-on-fire-picture-image_2875224.jpg') no-repeat center center / cover;
  color: #333; /* Text color */
}

/* Apply styles to the ion-title */
ion-title {
  color: #ff0000;
  border-bottom: 2px solid #ff0000; 
  padding-bottom: 10px;
}

/* Apply styles to the main div */
.ion-text-center {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px; 
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 400px; 
  margin: 20px auto;
}

/* Apply styles to the swiper-container */
swiper-container {
  width: 80%;
  max-width: 600px; 
  border: 5px solid white; 
  border-radius: 10px; 
}

/* Apply styles to the swiper-slide */
swiper-slide img {
  max-width: 100%; 
  height: 100;
  border-radius: 8px; 
}